.container {
    width: 295px !important;
}

.container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
    margin-right: 0;
}

.index .last{
    display: none;
}

.index h2{
    font-size: 24px;
}
.index h2 small{
    display: none;
}

.page-header .view-hero header{
    padding: 80px 0 20px;
}

.page-header .view-hero header .avatar-img{
    display: none;
}
.page-header .view-hero header h1 {
    font-size: 32px;
    line-height: 38px;
    padding: 0 0 10px;
    margin: 0;
}
.page-header .view-hero header .abstract {
    font-size: 13px;
    line-height: 22px;
}

.page-header .view-hero header .meta {
    font-size: 13px;
}

.navbar-collapse .mgl10{
    margin-left: -15px;
}

.page-header .header-overview h1 {
    font-style: normal;
    padding: 0 0 15px;
    margin: 0;
    font-size: 34px;
    line-height: 34px;
    background-image: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.page-header .header-overview .description {
    padding: 0;
    font-size: 12px;
    line-height: 20px;
}

.page-header .hot-topics{
    display: none;
}

.story .thumbnail>a{
    float: left;
    width: 100px;
    height: 66px;
}
.story .thumbnail>img, .story .thumbnail a>img{
    height: 66px;
}

.coverlines .story img{
    height: 179px;
}

.story .thumbnail .caption{
    margin-bottom: 0;
    padding: 5px;
    height: 66px;
}
.story h4{
    font-weight: 500;
    margin: 0;
    font-size: 16px;
}

.story .thumbnail{
    margin-bottom: 10px;
}
.story .panel-footer{
    padding: 5px;
    height: 30px;
}

.story .thumbnail .caption p{
    display: none;
}

.story small{
    display: none;
}

.story .thumbnail .icon{
    text-indent: -4em;
    border-left: 40px rgb(255, 0, 0) solid;
    border-bottom: 40px rgba(0, 0, 0, 0) solid;
}

.story .thumbnail .icon span{
    margin-left: -1px;
    margin-top: -22px;
    font-size: 11px;
}

.story .thumbnail .icon span.two {
    margin-left: 3px;
    margin-top: -26px;
    font-size: 11px;
}

.story.group .icon-addgroup{
    font-size: 62px;
    line-height: 67px;
}


.grouppic .story{
    padding: 0 5px;
    width: 265px;
}

.grouppic .story .thumbnail>a{
    width: 100px;
}

.grouppic .story .thumbnail .caption{
    height: 66px;
    margin-bottom: 0px;
}

.switch .box>a {
    height: 66px;
    width: 100px;
    float: left;
}

.switch .loading{
    height: 66px;
}

.switch .box>a:after{
    display: none;
}
.story.radios .jplayer{
    display: none;
}

.article-content{
    line-height: 1.5;
    width: 275px;
}

.page-header .author .desc{
    font-size: 16px;
}
.page-header .author .itemize_info_list{
    width: 220px;
}

.page-header .author-right{
    padding-left: 10px;
}
.timeline_wrap_content{
    padding-right: 10px;
    padding-left: 10px;
    background-image: none;
}
.timeline_wrap_content .popover .glyphicon-record{
    display: none;
}
.dash_adorn{
    display: none;
}
.timeline_wrap_content .arrow{
    display: none;
}
.timeline_wrap_content .popover{
    width: 275px;
    margin-bottom: 15px;
}
.timeline_wrap_content .popover.right{
    margin-left: 0px;
}
.timeline_wrap_content .popover .media > .pull-left{
    float: none !important;
    margin-right:0;
}
.timeline_wrap_content .popover .media > .pull-left img{
    width: 290px;
    height:auto;
}
.timeline_wrap_content .popover-content{
    padding: 0px;
}
.timeline_wrap_content .popover-content .media-body{
    padding: 15px;
}

.social-tools .bffix{
    position: static;
}

.social-tools ul a {
    width: 58px !important;
}

.article-content .view-hero header h1 {
    font-size: 26px;
    line-height: 32px;
}

.review .media>.media-body .media-object{
    width: 34px;
    height: 34px;
}

.review .media p{font-size: 14px;}
.review .media h5{font-size: 12px;}

.review .comment .comment-body .media .avatar img{
    width: 30px;
    height: 30px;
}

.usercenter .user-left{
    margin: 0;
    width: 295px;
}

.usercenter .user-left .userinfo-mini{
    margin-left: 0;
    margin-right: 0;
}

.usercenter .user-left .nav{
    margin-left: 0;
    margin-right: 0;
}

.usercenter .user-left .opts .btn{
    margin: 0 16px!important;
}

.usercenter .user-right.nobg{
    width: 295px;
}

.usercenter .user-right {
    width: 275px;
}

.user-right-content{
    width: 275px!important;
}

.rows-left{
    width: 275px;
}

.rows-left .media>.pull-left{
    display: none;
}

.rows-left .media .view{
    display: block;
    margin-left: 0;
    margin-top: 10px;
}

.floor-header header{
    float: none;
    width: auto;
}

.floor-header a.avatar{
    display: none;
}
.floor>.media>.avatar{
    display: none;
}

.floor .comment{
    margin-left: 0;
}

.floor-form{
    margin-left: 0;
}

div.jp-audio div.jp-type-single div.jp-progress {
    width: 160px!important;
}

div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute{
    display: none!important;
}
div.jp-audio a.jp-volume-max, div.jp-audio-stream a.jp-volume-max{
    display: none!important;
}
div.jp-volume-bar{
    display: none!important;
}
div.jp-audio .jp-type-single ul.jp-toggles{
    display: none!important;
}
div.jp-audio div.jp-type-single div.jp-time-holder{
    width: 160px!important;
}

.account{
    width: 295px;
    padding: 20px 10px 20px;
}