/* ==========================================================================
   Globals
   ========================================================================== */
.topNavGuide{
	background: url(/css/../pics/home/home_20.gif);
	width: 1000px;
	padding-top: 4px;
	height: 29px;
}
#main-nav a{color:#444}#mobile-header{background:#eee}#main-nav{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}#main-nav ul{
	list-style: none;
}#main-nav>ul>li>ul{
	background: #ffffff;
}

#main-nav ul li a:hover,#main-nav>ul>li:hover>a{
	color: #333333;

}#content-wrap{ overflow:hidden}.mobile-only{display:none}#main-nav{
	position: relative;
	z-index: 100;
	margin: 0 auto;
	padding-left: 100px;
	width: 898px;
}#main-nav ul li{
	position: relative;
	float: left;
	width: 110px;
}#main-nav ul li a{
	display: block;
}#main-nav ul li ul li a{
	text-align: left;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}#main-nav>ul{
	height: 20px;
	position: relative;
	z-index: 100;
	margin-top: 6px;
}#main-nav>ul>li{
	position: relative;
	display: block;
	float: left;
	height: 13px;
}#main-nav>ul>li>a{
	height: 23px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	width: 100%;
	padding: 0 1em;
	text-align: center;
	display: table;
	margin-top: -6px;
}#main-nav>ul>li>a>span{display:table-cell;vertical-align:middle;text-align:center}nav#main-nav .menu-content{padding:.5em}#main-nav>ul>li a{-webkit-transition:background-color .25s ease-in-out;-moz-transition:background-color .25s ease-in-out;-o-transition:background-color .25s ease-in-out;transition:background-color .25s ease-in-out}#main-nav>ul>li>ul{opacity:0;-webkit-transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-o-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}#main-nav>ul>li:hover>ul{
	opacity: 0.97;
}#main-nav>ul>li>ul>li>a{
	font-weight: bold;
}#main-nav>ul>li>ul>li a{
	padding: 7px 0.3em
}#main-nav>ul>li>ul{overflow:hidden}#main-nav>ul>li>ul{position:absolute;left:-9999px;padding:6px;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box}#main-nav>ul>li:hover>ul{
	left: 0px;
}
#main-nav>ul>li>ul>li{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	padding: 6px;
}#main-nav>ul>li>ul>li ul li{
	width: 100%;
	float: left;
}

#main-nav>ul>li.full{position:static}#main-nav>ul>li.full>ul{width:100%!important}#main-nav>ul>li.end-menu-item:hover>ul{right:0;left:auto}#main-nav>ul>li.columns-5>ul{width:100%}#main-nav>ul>li.columns-4>ul{
	width: 905%;
	margin-left: -211px;
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 23px;
}
#main-nav>ul>li.columns-7>ul{
	width: 100%;
}
#main-nav>ul>li.columns-3>ul{
	width: 100%;
}#main-nav>ul>li.columns-2>ul{
	width: 100%;
}#main-nav>ul>li.columns-1>ul{width:120%}#main-nav>ul>li.columns-2>ul li.colspan-2{width:100%}#main-nav>ul>li.columns-3>ul>li.colspan-2{width:66.66666666%}#main-nav>ul>li.columns-3>ul>li.colspan-3{width:100%}#main-nav>ul>li.columns-4>ul>li.colspan-2{width:50%}#main-nav>ul>li.columns-4>ul>li.colspan-3{width:75%}#main-nav>ul>li.columns-4>ul>li.colspan-4{width:100%}#main-nav>ul>li.columns-5>ul>li.colspan-2{width:40%}#main-nav>ul>li.columns-5>ul>li.colspan-3{width:60%}#main-nav>ul>li.columns-5>ul>li.colspan-4{width:80%}#main-nav>ul>li.columns-5>ul>li.colspan-5{width:100%}
#main-nav>ul>li.columns-7>ul>li{
	width: 100%;
	list-style-type: none;
}
#main-nav>ul>li.columns-5>ul>li{
	width: 100%;
	list-style-type: none;
}#main-nav>ul>li.columns-4>ul>li{
	width: 20%;
	list-style-type: none;
}#main-nav>ul>li.columns-3>ul>li{
	width: 100%;
	list-style-type: none;
}#main-nav>ul>li.columns-2>ul>li{
	width: 100%;
	list-style-type: none;
}#main-nav>ul>li.columns-1>ul>li{width:100%}#main-nav ul{
	display: block!important
}#placeholder-content{font-size:16px}.lt-ie9 #content-wrap{overflow:hidden}.lt-ie9 .mobile-only{display:none}.lt-ie9 #main-nav{position:relative;z-index:100;margin:0 auto;max-width:978px}.lt-ie9 #main-nav ul li{position:relative;float:left;width:139.71428571428572px;width:calc(14.285714285714286%)}.lt-ie9 #main-nav ul li a{text-align:center;display:block;padding:1em 1.5em}.lt-ie9 #main-nav ul li ul li a{text-align:left}.lt-ie9 #main-nav>ul{height:50px;position:relative;z-index:100}.lt-ie9 #main-nav>ul>li{position:relative;display:block;float:left;width:14.285714285714286%}.lt-ie9 #main-nav>ul>li>a{height:50px;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;width:100%;padding:0 1em;text-align:center;display:table}.lt-ie9 #main-nav>ul>li>a>span{display:table-cell;vertical-align:middle;text-align:center}.lt-ie9 nav#main-nav .menu-content{padding:.5em}.lt-ie9 #main-nav>ul>li a{-webkit-transition:background-color .25s ease-in-out;-moz-transition:background-color .25s ease-in-out;-o-transition:background-color .25s ease-in-out;transition:background-color .25s ease-in-out}.lt-ie9 #main-nav>ul>li>ul{opacity:0;-webkit-transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-o-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}.lt-ie9 #main-nav>ul>li:hover>ul{opacity:1}.lt-ie9 #main-nav>ul>li>ul>li>a{font-weight:700}.lt-ie9 #main-nav>ul>li>ul>li a{padding:.5em}.lt-ie9 #main-nav>ul>li>ul{overflow:hidden}.lt-ie9 #main-nav>ul>li>ul{position:absolute;left:-9999px;padding:6px;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box}.lt-ie9 #main-nav>ul>li:hover>ul{left:0}.lt-ie9 #main-nav>ul>li>ul>li{box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;padding:6px}.lt-ie9 #main-nav>ul>li>ul>li ul li{width:100%}.lt-ie9 #main-nav>ul>li.full{position:static}.lt-ie9 #main-nav>ul>li.full>ul{width:100%!important}.lt-ie9 #main-nav>ul>li.end-menu-item:hover>ul{right:0;left:auto}.lt-ie9 #main-nav>ul>li.columns-5>ul{width:500%}.lt-ie9 #main-nav>ul>li.columns-4>ul{width:480%}.lt-ie9 #main-nav>ul>li.columns-3>ul{width:360%}.lt-ie9 #main-nav>ul>li.columns-2>ul{width:240%}.lt-ie9 #main-nav>ul>li.columns-1>ul{width:120%}.lt-ie9 #main-nav>ul>li.columns-2>ul li.colspan-2{width:100%}.lt-ie9 #main-nav>ul>li.columns-3>ul>li.colspan-2{width:66.66666666%}.lt-ie9 #main-nav>ul>li.columns-3>ul>li.colspan-3{width:100%}.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-2{width:50%}.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-3{width:75%}.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-4{width:100%}.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-2{width:40%}.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-3{width:60%}.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-4{width:80%}.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-5{width:100%}.lt-ie9 #main-nav>ul>li.columns-5>ul>li{width:20%}.lt-ie9 #main-nav>ul>li.columns-4>ul>li{width:25%}.lt-ie9 #main-nav>ul>li.columns-3>ul>li{width:33.333333333333336%}.lt-ie9 #main-nav>ul>li.columns-2>ul>li{width:50%}.lt-ie9 #main-nav>ul>li.columns-1>ul>li{width:100%}.lt-ie9 #main-nav ul{margin-left:0!important;display:block!important}.lt-ie9 #placeholder-content{font-size:16px}#page-wrap{width:100%;margin:0 auto}#main-nav{

}#placeholder-content{color:#c1d1ff;max-width:930px;padding:0 24px;margin:2em auto}#placeholder-content h1{color:#fff}#main-nav .menu-contact-form{overflow:hidden}#main-nav .menu-contact-form .menu-contact-label{display:block;margin-top:1.48em}#main-nav .menu-contact-form .menu-contact-input{margin-top:4px;padding:6px;display:block;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;width:100%}#main-nav .menu-contact-form .menu-submit-button{color:#fff;border:0;background:#1ba3e3;width:50%;margin-top:1.48em;float:right;height:32px;line-height:32px;padding:0 32px}.menu-content img{padding:.5em 0}#main-nav ul .parent.columns-7 ul {
	width: 100%;
	list-style-type: none;
}
#main-nav ul .parent.columns-4 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
}
#main-nav ul .parent.full.columns-5 {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
}
#main-nav ul .parent.columns-7 {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
}
#main-nav ul .parent.columns-2.end-menu-item {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
}
#main-nav ul .parent.columns-5.end-menu-item {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
}
#main-nav ul .parent.columns-4 ul .parent ul li a {
	line-height: 20%;
	color: #949494;
	font-size: 14px;
	width: 100%;
	margin-left:-8px;
}

.clearFloat{
	clear:both;
}
#main-nav ul .parent.columns-4 ul .parent ul li {
	color: #949494;
	list-style-type: disc;
	list-style-position: outside;
	line-height: 70%;
	float: left;
	margin-left:16px;
}
#main-nav ul .parent.columns-4 ul .parent ul li a:hover {
	color: #0080ff;
}
.listBottom{
	padding-bottom:15px;
}
#main-nav ul .parent.columns-4 ul .parent ul {
	margin-top: -5px;
}
