BODY {
	SCROLLBAR-FACE-COLOR: #cfcfcf; FONT-SIZE: 12px; SCROLLBAR-SHADOW-COLOR: #595959; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #595959; SCROLLBAR-ARROW-COLOR: #ffffff; FONT-FAMILY: ו; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #cfcfcf; BACKGROUND-COLOR: #DADADA;
text-align:center;
}
A:link {
	COLOR: #202020; 
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #333333; 
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #0080ff; 
	TEXT-DECORATION: none;
}
A:active {
	COLOR: #0080ff;
	TEXT-DECORATION: none;
	font-family: "ו";
}
