
.modal p {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 0;
}
.modal p:hover {
  cursor: pointer;
}

.modal a {
	text-align: center;
  display: block;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 0 0;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  background: #eb5a3d;
  -webkit-box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;
  -moz-box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;
  box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;
  border: 1px solid #884335;
}
.modal a:hover {
  background: #ea5234;
}

/* \\\\\\\\\\\\\\\\\    END DEMO CODE   ///////////////////////////////// */
/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.ad200all{width:420px;margin:auto;}
.ad200x200-1{width:200px;height:200px;float:left;}
.ad200x200-2{width:200px;height:200px;float:left;margin-left:8px;}
.modal {
  display: none;
  background: #eee;
  padding: 0 20px 20px;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 500px;
  min-height: 350px;
}

.closeBtn{font-family:"ו";}

/* \\\\\\\\\\\\\\\\\    END MODAL CODE   ///////////////////////////////// */