HTTP/1.1 200 OK
Server: nginx
Date: Sun, 01 Apr 2018 01:04:13 GMT
Content-Type: text/css
Content-Length: 0
Connection: keep-alive
Last-Modified: Tue, 20 Jan 2015 03:42:54 GMT
ETag: "54bdcebe-0"
Expires: Sun, 01 Apr 2018 02:04:13 GMT
Cache-Control: max-age=3600
Accept-Ranges: bytes

