<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>{$title}</title>
<meta name="description" content="{$title}" />
<meta name="keywords" content="{$title}" />
<link rel="stylesheet" href="{$web_themepath}/skin/style.css" type="text/css" />
<script type="text/javascript" src="{$web_themepath}/skin/js/jquery.min.js"></script>
<script type="text/javascript" src="{$web_themepath}/skin/js/gotop.js"></script>
</head>
<body>
{include file="head.html"}
<div class="weizhi">您的当前位置：<a href="/">首页</a> > <a href="{$thisurl}">{$title}</a></div>
<div class="main1">
	<div class="left_1">
    	<div class="g_list">
            <div class="t_4"><h3>{$title}</h3></div>
            <ul class="list2">
            	{loop row='30' type='show_links_text'}
                <li><h3><a href='{$vo.url}'>{$vo.title}</a></h3><span>时间：{$vo.postdate}</span></li>
                {/loop}
            </ul>
            <div class="dede_pages">
                <ul class="pagelist">
                    {loop type='list_pages'}
					<a href='{$vo.url}'>{$vo.pagekey}</a>
					{/loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="right_1">
    	<div class="g_box2 u_2">
        	<div class="t_1">最新发布</div>
            <ul class="b_box3 u_1">
            {loop type='show_links_text'}
			<li><a href='{$vo.url}'>{$vo.title}</a></li>
			{/loop}
            </ul>
        </div>
    	<div class="g_box2 u_2">
        	<div class="t_1">热门推荐</div>
            <ul class="b_box3 u_1">
            	{loop type='other_links_text'}
					<li><a href='{$vo.url}'>{$vo.title}</a></li>
				{/loop}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="main2">
	<div class="t_2">
    	<h3>最新图文</h3>
    </div>
    <ul class="b_box9">
		{loop row='100' type='show_links_pic'}
			<li><a href='{$vo.url}'><img src="{$vo.litpic}" alt="{$vo.title}" /><p>{$vo.title}</p></a></li>
		{/loop}
        <div class="clear"></div>
    </ul>
</div>
{include file="footer.html"}
</body>
</html>
