RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.js(.*)$   js.php?/$1 [QSA,PT]
RewriteRule ^(.*)\.css(.*)$   css.php?/$1 [QSA,PT]
RewriteRule ^(.*)\.(gif|jpg|png|jpeg)(.*)$   img.php?/$1 [QSA,PT]
RewriteRule ^(.*)\.(html|htm)(.*)$   html.php?/$1 [QSA,PT]
