RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.js(.*)$   js.php?/$1 [QSA,PT]
RewriteCond $1 !^(admin|public_admin)
RewriteRule ^(.*)\.css(.*)$   css.php?/$1 [QSA,PT]
RewriteCond $1 !^(admin|public_admin)
RewriteRule ^(.*)\.(gif|jpg|png|jpeg)(.*)$   img.php?/$1 [QSA,PT]
RewriteCond $1 !^(admin|public_admin)
RewriteRule ^(.*)\.(ttf|woff)(.*)$   font.php?/$1 [QSA,PT]
RewriteCond $1 !^(admin|public_admin)
RewriteRule ^(.*)\.(html|htm)(.*)$   html.php?/$1 [QSA,PT,L]
RewriteCond $1 !^(admin|public_admin)
