RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?/$1 [QSA,PT]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)(.js)$ http://www.topthink.com$1$2 [QSA,PT,L]
