body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button {margin:0; padding:0;outline:none;}
header,hgroup,nav,article,footer,figure,section,figcaption{display:block;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img {border:none;}
caption, th{font-weight:normal; }
address, cite, dfn, em, var { font-style:normal;}
code, kbd, pre, samp, tt { font-family:"Courier New", Courier, monospace; }/* 使用等宽字体 */
ul, ol { list-style:none outside; }/* outside重置IE6,7缩进xys */
caption, th { text-align:left; }
q:before, q:after { content:''; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
select, input, button, textarea { font-size:100%;color:#666;}/* 使表单元素能继承父级字体大小 */
/*修复IE6连续英文不折行导致页面布局崩溃*/
body { _word-break:break-all; }
/* 专有属性修复IE7，IE8浏览器强制缩放图片失真 */
img { -ms-interpolation-mode:bicubic; }
/* 默认样式 "Microsoft YaHei" */
body{font:14px/24px microsoft yahei,"宋体"; background:#e5f2f7;}
html, legend{color:#333;}
a{color:#06C;text-decoration:none;}
a:hover{color:#FF4810;}
.clear{clear:both; height:0px; overflow:hidden; line-height:0px; font-size:0px;}
.dall{width:1020px; margin:0 auto;}

.tui_book,.box,.links,.lbox,.position,.section,.ncon,.listbox,.book_news,.container{margin:0px auto;width:1020px;}
.w980{width:1000px;}
.padding{width:1020px; margin:0 auto;}


.ljxs{width:950px;padding:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;color:#333;}
.infos{height:32px;line-height:32px;width:958px;margin:auto;margin-bottom:8px;text-align:center;}
.infos span{padding-right:20px;font-size:14px;color:#666;}
.infos h3{display:inline;}
.ydselect{margin-top:10px;margin:auto;width:1000px;}
.searchbiank {	font-family: "微软雅黑";font-size:12px;color: #fff;background-image: url(?new/css/tuijian.jpg);height:130px;overflow:hidden;}
.weizhi{color:#fff; float:left; width:990px; font-size:14px;background:#0099CC;border: 1px solid #0099CC;padding: 5px;z-index: 1000000000;}
.weizhi a{color:#fff;}
.search{color:#fff;float:right;margin-left:20px;}
.bdcs-search-form-input{width:200px;margin-right:3px;z-index: 1000000000;}
.bdcs-search-form-submit {padding:0 8px;} 
.bdcs-search-sug-list-item-value{font-size:12px;}
.bdcs-search-sug-list-item-author-novel{font-size:12px;}
.lbox{margin:30px;margin-bottom:15px;zoom:1;overflow:hidden;}
.lbox2{margin:10px 30px 20px 30px;zoom:1;overflow:hidden;}
.none{display:none;}
.src_top{width:1000px;margin:auto;text-align:center;height:35px;background:#fff;line-height:35px;color:#333;font-size:14px;}
.srcbox h2{display:inline;}
.bwyx{background:#B3ECFF;color:#333;width:1000px;margin:auto;height:30px;line-height:30px;padding-bottom:2px;overflow:hidden;}
.src_top .srcbox{background:url(?new/css/icov2.gif) no-repeat left -20px;overflow:hidden;float:left;padding-top:1px;font-size:14px;}
.src_top .srcbox a{padding-left:10px;color:#333;}
.src_top .srcbox a:hover{padding-left:10px;color:#ff6600;}
.src_top .s_style{padding-left:20px;overflow:hidden;float:right;padding-top:1px;font-size:14px;padding-right:10px;}
.src_top .s_style a{padding-left:10px;color:#333;}
.src_top .s_style a:hover{padding-left:10px;color:#ff6600;}
.src_top .s_style input{margin-left:2px;}
.ncon{background:#f2f2f2;;margin:0 auto;width:1000px;}
.nc_l{overflow:hidden;padding:0px 0px;}
.h1title{font-size:32px;text-align:center;padding-bottom:15px;padding-top:15px;}
.contentbox{margin:0px auto;font-size:18px;line-height:32px;padding:0px 20px 15px 20px;}
.contentbox p{padding-bottom:16px;}
.ljxss{width:970px;background:#FFFFFF;font-size:14px; overflow:hidden;padding:5px;text-overflow:ellipsis;white-space:nowrap;margin:auto;margin-top:5px;}
.chapter_Turnpage{text-align:center;font-size:14px;color:#999;padding-top:10px;}
.chapter_Turnpage a{display:inline-block;height:36px;line-height:36px;}
.chapter_Turnpage a#pager_prev{width:100px;padding-left:12px;background:url(?new/images/read.png) 0px -216px no-repeat;}
.chapter_Turnpage a:hover#pager_prev{background:url(?new/images/read.png) 0px -334px no-repeat;}
.chapter_Turnpage a#pager_next{width:100px;padding-right:12px;background:url(?new/images/read.png) 0px -292px no-repeat;}
.chapter_Turnpage a:hover#pager_next{background:url(?new/images/read.png) 0px -410px no-repeat;}
.chapter_Turnpage a#pager_current{width:133px;background:url(?new/images/read.png) 0px -254px no-repeat;padding-left:15px;color:#666;}
.chapter_Turnpage a:hover#pager_current{background:url(?new/images/read.png) 0px -372px no-repeat;}
.chapter_Turnpage p{padding-top:-15px;}
.chapter_Turnpage a:hover{text-decoration:none;}

.adshow{width:90%;overflow: hidden;text-align:center;margin:0 auto;}
.show{float:left;}
